





button{
    align-items: center;
}

body{
    text-align: center;
    background-color: maroon;
}

h1{
    color:white;
}

label{
    color: white;
}

span{
    color: white;
}

p{
    color: white;
}

